body,html{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.page{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
